#banner-page{
	height: 208px;
}

.banner{
	background-position: center center;
	width: 100%;
	background-size: cover;
	position: relative;

	.banner-wrapper{
		position:absolute;
		bottom: 0;
    top: 0;
    width: 100%;
		.banner-title{
			@include outer-container;
			padding: 70px 0px;

			h1{
				font-size: em(42px);
        text-transform: uppercase;
				color: $white;
				font-weight: 700;
				padding: 0px;
				margin: 0px;
			}
		}
	}
}

//banner mobile//

@media (max-width: $header-break) {
  .banner{
  	background-position: center center;
  	width: 100%;
  	background-size: cover;
  	position: relative;

  	.banner-wrapper{
  		position:absolute;
  		bottom: 0;
      top: 0;
      width: 100%;
  		.banner-title{
  			@include outer-container;
  			padding: 60px 20px;

  			h1{
  				font-size: em(42px);
          text-transform: uppercase;
  				color: $white;
  				font-weight: 700;
  				padding: 0px;
  				margin: 0px;
  			}
  		}
  	}
  }
}
