//header desktop//
#masthead{
	width: 100%;
}
.site-header{
	@include outer-container;
	.site-branding{
		@include span-columns(12);

		#tagline{
			@include span-columns(4);
		}

		#header-logo{
			@include span-columns(4);
			text-align: center;
			.header-img-wrapper{
				position: relative;
				#logo{
					width: 60%;
					position: relative;
					top: 15px;
				}
			}
		}
		#header-search{
			@include span-columns(4);
			text-align:right;
			.fa{
				padding-left: 15px;
				color: $light-blue;
				&:hover{
					color: $blue;
				}
			}
		}
		.header-copy{
			margin-top: 50px;
			color: $red;
			font-weight: 700;
		}

	}
}

@media only screen and (max-width: $header-break) {
	.site-header{
		@include outer-container;
		.site-branding{
			@include span-columns(12);
			padding: 0px 20px;

			#tagline{
				@include span-columns(4);
			}

			#header-logo{
				@include span-columns(4);
				text-align: center;
				.header-img-wrapper{
					position: relative;
					#logo{
						width: 60%;
						position: relative;
						top: 15px;
					}
				}
			}


			#header-search{
				@include span-columns(4);
				text-align:right;
				.fa{
					padding-left: 15px;
					color: $light-blue;
					&:hover{
						color: $blue;
					}
				}
			}

			.header-copy{
				margin-top: 0px;
			}

		}
	}
}

@media only screen and (max-width: $mobile-menu-break) {

	.site-header{
		@include outer-container;
		.site-branding{
			@include span-columns(12);

			#tagline{
				display: none;
			}

			#header-logo{
				@include span-columns(12);
				text-align: center;
				.header-img-wrapper{
					position: relative;
					#logo{
						width: 60%;
						position: relative;
						top: 15px;
					}
				}
			}

			#header-search{
				display: none;
			}

		}
	}

}
