
#nav-wrapper{
  background-color: $blue;
  overflow: hidden;
  #nav-bar{
    @include outer-container;
    #site-navigation{
    	@include span-columns(8);
    	.menu-primary-menu-container{
    		overflow: hidden;
    		ul{
    			padding: 10px 0px;
    			li{
    				display: inline-block;
            padding: 0px 20px 0px 0px;
            .sub-menu{
              display: none;
              position: absolute;
              z-index: 9999;
              margin-top: 10px;
              padding: 0px;
              background-color: $red;
              li{
                padding: 0px;
                display: block;
                a{
                  padding: 20px 40px 20px 20px;
                  display: block;
                  border-bottom: transparent solid 0px;
                  &:hover{
                    background-color: $dark-red;
                    border-bottom: transparent solid 0px;
                  }
                }
              }
            }
    				a{
    					padding: 10px 20px 9px 0px;
    					font-family: $robo;
    					font-weight: 600;
    					text-transform: uppercase;
    					font-size: em(14px);
    					color: $white;
    					&:hover{
                border-bottom: red solid 3px;
    					}
    				}
    			}
    		}
    	}
    }
  }
}


#site-navigation{
  .current_page_item{
    a{
      border-bottom: red solid 3px;
    }
  }
}
@media only screen and (max-width: $header-break) {
  #site-navigation{
    .current_page_item{
      a{
        color: $red;
        border-bottom: transparent solid 0px;
      }
    }
  }
}


@media only screen and (max-width: $header-break) {
  #nav-bar{
    #site-navigation{

      @include span-columns(8);
      .menu-primary-menu-container{
        overflow: hidden;
        height: 49px;
        float: none;
        ul{
          margin-top: 5px;
          text-align: center;
          li{
            padding: 0px;
            display: inline-block;

            a{
              padding: 0px 0px 0px 0px;
            }
          }

        }
      }
    }
  }
}



@media only screen and (max-width: $mobile-menu-break) {
  #nav-wrapper{
    background-color: $blue;
    overflow: hidden;
    #nav-bar{
      @include outer-container;
      #site-navigation{
        @include span-columns(12);
        display: none;
        .menu-primary-menu-container{
          overflow: hidden;
          height: inherit;
          float: none;
          padding-bottom: 20px;
          ul{
            margin-top: 0px;
            text-align: center;
            li{
              padding: 0px;
              display: block;
              .sub-menu{
                margin-top: 5px;
                position: relative;
                z-index: 9999;
                margin-top: 0px;
                padding: 0px 0px 5px 0px;
                background-color: transparent;
                li{
                  display: block;
                  padding: 0px;
                  a{
                    padding: 10px 0px 5px 0px;
                    display: block;
                    font-weight: 400;
                    text-transform: inherit;
                    &:hover{
                      background-color: transparent;
                      border-bottom: transparent solid 0px;
                    }
                  }
                }
              }
              a{
                padding: 10px 0px 10px 0px;
                display: block;
                height: 30px;
                width: 200px;
                margin: 0 auto;
                &:hover{
                  color: $red;
                  border-bottom: transparent solid 0px;
                }
              }
            }
          }
        }
      }
    }
  }
}

#nav-button{
  @include span-columns(4);
  padding: 10px 0px;
  text-align: center;
  background-color: $red;
  a{
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: em(14px);
  }
}


@media only screen and (max-width: $header-break) {
  #nav-button{
    margin-top: 0px;
    height: 49px;
    a{
      position: relative;
      top: 4px;
    }
  }
}

@media only screen and (max-width: $mobile-menu-break) {
  #nav-button{
    @include span-columns(12);
  }
}

.menu-toggle{
	display: none;
}

@media only screen and (max-width: $mobile-menu-break) {
	.menu-toggle{
		@include span-columns(12);
    padding-right: 10px;
		.hamburger{
			float: right;
			background: none;
			line-height: 45px;
			padding: 0px 15px 0px 15px;
			color: $white;
			border: 0;
			font-size: 1.75em;
			font-weight: bold;
			cursor: pointer;
			outline: none;
		}
	}
}
