#services{
  width: 100%;
  overflow: hidden;
  #services-img{
    background-image: url('./img/home/home-security.jpg');
    background-size: cover;
    background-position: center center;
    height: 622px;
  }
  #services-copy{
    padding: 55px 0px 55px 60px;
    h3{
      font-size: em(28px);
      text-transform: uppercase;
      color: $red;
      font-weight: 400;
    }
    ul{
      margin-left: 15px;
      margin-top: 20px;
      li{
        margin-bottom: 10px;
        font-size: 18px;
      }
      li:before {
        font-family: 'FontAwesome';
        content: '\f00c';
        margin:0 5px 0 -15px;
        padding-right: 10px;
      }
    }
  }
  .services-col{
    float: left;
    width: 50%;
  }
}


@media only screen and (max-width: $home-break) {
  #services{

    #services-img{
      height: 300px;
    }
    #services-copy{
      padding: 30px 20px 30px 20px;
      h3{
        font-size: em(24px);
        text-transform: uppercase;
        color: $red;
      }
      ul{
        padding-left: 20px;
        padding-right: 10px;
        li{
          font-size: em(16px);
          list-style-position: inside;
          text-indent: -1em;
        }
      }
    }
    .services-col{
      float: none;
      width: 100%;
    }
  }
}
